<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie Explorer </title>
  <link rel="stylesheet" href="/static/css/login.css" />
</head>
<body>
  <header class="navbar">
    <div class="navbar_inner">
      <a href="/" class="logo"> 
        <span class="logo_icon">🎬</span>
        <span class="logo_text">Movie<span class="logo_accent">Explorer</span></span>
      </a>
      <nav class="nav-links">
         <a href="#" class="nav-links_item is-active">Home</a>
        <a href="#trending" class="nav-links_item">Movies</a>
        <a href="#" class="nav-links_item">Watchlist</a>
        <a href="#" class="nav-links_item">About</a>
      </nav>
    </div>
  </header>
  <main>
    <section class="hero">
      <div class="hero_text">
        <P class="hero_text title">WELCOME BACK</P>
        <br>
        <P class="hero_text subtitle">Continue your movie journey</P>
        </div>

    </section>
  </main>
</body>