<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie Explorer </title>
  <link rel="stylesheet" href="/static/css/profile.css" />
</head>
<body>
   <header class="navbar">
    <div class="navbar__inner">
      <a href="#" class="logo">
        <span class="logo__icon">🎬</span>
        <span class="logo__text">Movie<span class="logo__accent">Explorer</span></span>
      </a>
</div>
      </header>
     
 <main class="hero">
  <section class="welcome">
    <div class="title">My Profile</div>
   <div class="welcome_text"> 
    <p>👤Welcome {{username}}</p></div>
  </section>
  <section class="profile_details">
    <p>Email :</p>
    <p>Favorites:</p>
    
  </section>
  <section class="edit_logout">
    <a href="/logout">
    <button  class="btn btn--primary" type="submit">Logout</button>
    </a>
    
  </section>
  </main>
</body>