<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie Explorer-SIGNUP PAGE </title>
  <link rel="stylesheet" href="/static/css/signup.css" />
</head>
<body>
  <header class="navbar">
    <div class="navbar_inner">
      <a href="/" class="logo"> 
        <span class="logo_icon">🎬</span>
        <span class="logo_text">Movie<span class="logo_accent">Explorer</span></span>
      </a>
      <nav class="nav-links">
         <a href="#" class="nav-links_item is-active">Home</a>
        <a href="/#trending" class="nav-links_item">Movies</a>
        <a href="#" class="nav-links_item">Watchlist</a>
        <a href="#" class="nav-links_item">About</a>
      </nav>
    </div>
  </header>
  <main>
    <section class="hero">
      <div class="hero_text">
        <P class="hero_text title">CREATE ACCOUNT</P>
        <br>
        <P class="hero_text subtitle">Join The World Of Movies</P>
        </div>
      <form class="signup">
        <div class="input"><label for="name" class="labels">NAME  </label>
          <input type="text" placeholder="Enter your name please" class="signup_input" /></div>
          <div class="input"><label for="email" class="labels">EMAIL </label>
          <input type="text" placeholder="Enter your email please" class="signup_input " /></div>
          <div class="input"><label for="username" class="labels">USERNAME </label>
          <input type="text" placeholder="Choose your username please" class="signup_input" /></div>
          <div class="input"><label for="password" class="labels">PASSWORD </label>
          <input type="text" placeholder="Enter your password please" class="signup_input " /></div>
          <div class="input"><label for="confirm_password" class="labels">CONFIRM PASSWORD </label>
          <input type="text" placeholder="Confirm your password please" class="signup_input " /></div>
          
          <button type="submit" class="btn btn--primary">Sign up</button>

      </form>  

    </section>
  </main>
</body>